
@{
    ViewBag.Title = "New";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teacher</a>
    </nav>
    <h2>New Teacher</h2>
    <form method="POST" action="/Teacher/Create">
        <div class="inputrow">
            <label for="TeacherFname">First Name:</label>
            <input type="text" id="TeacherFname" name="TeacherFname" />

        </div>
        <div class="inputrow">
            <label for="TeacherLname">Last Name:</label>
            <input type="text" id="TeacherLname" name="TeacherLname" />

        </div>
        <div class="inputrow">
            <label for="salary">Salary:</label>
            <input type="text" id="salary" name="salary" />
        </div>
        <div class="inputrow">
            <label for="employeenumber">Employee Number:</label>
            <div>
                <textarea id="employeenumber" name="employeenumber"></textarea>
            </div>
        </div>
        <div class="inputrow">
            <input type="submit" value="Create Teacher" />
        </div>
    </form>
</div>

