@model SchoolProject.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back To Teachers</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>
    </nav>
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p style="font-style:italic;">Member Since @Model.TeacherJoinDate.ToString("dd-MMM-yyyy")</p>
    <p>@Model.employeenumber</p>
</div>
